* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}

.title {
	margin: 0;
	font-weight: 800;
	font-size: 40px;
	line-height: 52px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #7872b9;
}

.title_left {
	text-align: left;
}

.button {
	width: 380px;
	height: 70px;
	background: #7872b9;
	border-radius: 15px;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	box-shadow: 9px 13px 0px -1px rgb(205 225 255);
	cursor: pointer;
}

.button_big {
	width: 410px;
}

.button:hover {
	box-shadow: 6px 7px 0px -2px rgb(205 225 255);
	transition: 0.5s all;
}

.button:focus {
	background: #4c4883;
	box-shadow: none;
}

/* ------------------------ Header ------------------------ */

.header {
	background-color: #f9fcff;
	padding-top: 70px;
}

.header-psyghologyst {
	background-color: #ffffff;
	padding-top: 70px;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	width: 50%;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.header__link {
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #4d4d52;
	text-decoration: none;
}

.header__link:hover {
	color: #7872b9;
	transition: 0.5s all;
}

/* ------------------------ Footer ------------------------ */

.footer {
	padding: 80px 0;
	background-color: #f9fcff;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15.3%;
}

.footer__logo-img {
	width: 100%;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
	margin-top: 37px;
}

.footer__socials-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #d7c3e6;
}

.footer__socials-logo:hover {
	background: #cdb9dc;
	border: 1px solid #f9fcff;
}

.footer__connection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 16.5%;
}

.footer__connection-title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.footer__connection-subtitle {
	margin-top: 6px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #7872b9;
}

.footer__nav {
	width: 28%;
}

.footer__menu {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	height: 100%;
	justify-content: space-between;
	list-style: none;
}

.footer__link {
	width: 45%;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #7872b9;
	text-decoration: none;
}

.footer__link:hover {
	color: #4d4d52;
	transition: 0.5s all;
}

.footer__policy {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22.1%;
	height: 100px;
}

.footer__policy-item {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	text-decoration-line: underline;
	color: #4d4d52;
}

.footer__policy-item:hover {
	font-weight: 600;
	transition: 0.5s all;
}

/* ------------------------ Home ------------------------ */

.home-find {
	position: relative;
	background-color: #f9fcff;
	padding: 75px 0 81px 0;
}

.home-find__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.home-find__content {
	width: 51%;
}

.home-find__title {
	font-weight: 800;
	font-size: 44px;
	line-height: 57px;
	letter-spacing: 0.02em;
	color: #7872b9;
}

.home-find__subtitle {
	margin-top: 10px;
	margin-bottom: 81px;
	width: 75%;
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	letter-spacing: 0.02em;
	color: #4d4d52;
}

.home-find__descr {
	margin-top: 45px;
	margin-left: 25px;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: #4d4d52;
}

.home-find__img {
	width: 100%;
	height: 100%;
}

.home-find__icon-message {
	position: absolute;
	bottom: -18px;
	right: 13%;
}

.home-comfort {
	padding: 100px 0;
}

.home-comfort__wrapper {
	margin-top: 190px;
	display: flex;
	justify-content: space-between;
}

.home-comfort__item {
	position: relative;
	padding: 130px 30px 44px 30px;
	width: 32.5%;
	height: 300px;
	background-color: #ebf5ff;
	border-radius: 20px;
}
.home-comfort__item:nth-child(2) {
	height: 350px;
}

.home-comfort__item-img {
	position: absolute;
	width: 220px;
	top: -150px;
	left: 50%;
	transform: translateX(-50%) translateY(20%);
}

.home-comfort__item-title {
	font-weight: 600;
	font-size: 1.5em;
	line-height: 28.8px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #4d4d52;
}

.home-comfort__item:nth-child(2) .home-comfort__item-title {
	margin: 0 50px;
}

.home-comfort__item-descr {
	margin-top: 15px;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-comfort__item:nth-child(2) .home-comfort__item-descr {
	margin: 15px 10px 0 10px;
}

.home-comfort__item:nth-child(3) .home-comfort__item-descr {
	margin: 15px 25px 0 25px;
}

.home-problems {
	background-color: #f9fcff;
	padding: 80px 0 99px 0;
}

.home-problems__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #4d4d52;
	margin-bottom: 10px;
}

.home-problems__descr {
	position: relative;
	width: 49%;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-problems__icon-arrow {
	position: absolute;
	top: 50%;
	right: -25%;
	transform: rotate(27.19deg);
}

.home-problems__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 136px;
	height: 120px;
}

.home-problems__wrapper-top,
.home-problems__wrapper-bottom {
	display: flex;
	justify-content: space-between;
}

.home-problems__wrapper-top {
	width: 95%;
	margin: 0 auto;
}

.home-problems__item {
	width: max-content;
	height: 50px;
	padding: 11px 37px;
	border: 2px solid #7872b9;
	border-radius: 40px;
	font-weight: 600;
	font-size: 1.4vw;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #7872b9;
	cursor: default;
}

.home-problems__item:hover {
	background-color: #7872b9;
	color: #ffffff;
	transition: 0.5s all;
}

.home-quality {
	padding: 100px 0;
}

.home-quality__subtitle {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-quality__title {
	width: 83%;
}

.home-quality__title_underlined {
	position: relative;
}

.home-quality__icon-line {
	position: absolute;
	bottom: -30%;
	left: 0;
	width: 100%;
}

.home-quality__descr {
	width: 66%;
	margin-top: 27px;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-quality__wrapper {
	display: grid;
	grid-template-columns: 40% 2.5% 1fr 2.5% 40%;
	row-gap: 30px;
	margin-top: 59px;
}

.home-quality__education,
.home-quality__work-experience,
.home-quality__learning,
.home-quality__therapy {
	background: #ebf5ff;
	border-radius: 20px;
}

.home-quality__education,
.home-quality__therapy {
	display: flex;
	align-items: center;
	padding: 20px 30px;
}

.home-quality__work-experience,
.home-quality__learning {
	padding: 42px 30px 42px 100px;
}

.home-quality__education {
	grid-area: 1 / 1 / 2 / 4;
}

.home-quality__work-experience {
	grid-area: 1 / 5 / 2 / 6;
}

.home-quality__learning {
	grid-area: 2 / 1 / 3 / 2;
}

.home-quality__therapy {
	grid-area: 2 / 3 / 3 / 6;
}

.home-quality__item-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-quality__item-descr {
	margin-top: 15px;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-quality__item-descr_experience,
.home-quality__item-descr_education {
	width: 85%;
}

.home-quality__item-text {
	padding-left: 50px;
}

.home-quality__item-text_therapy {
	padding-top: 22px;
}

.home-quality__item-descr_therapy {
	width: 70%;
}

.home-quality__item-text_education {
	padding-top: 8px;
}

.home-steps {
	padding: 100px 0 131px 0;
	background-color: #f9fcff;
}

.home-steps__wrapper {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
}

.home-steps__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 150px;
}

.home-steps__item:nth-child(1) {
	margin-top: 0;
}

.home-steps__item:nth-child(1) .home-steps__item-text {
	width: 80%;
}

.home-steps__item-content {
	position: relative;
	width: 47%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-steps__item-spot {
	position: absolute;
	left: 4%;
}

.home-steps__item-img {
	z-index: 1;
}

.home-steps__item-text {
	z-index: 1;
	width: 75%;
}

.home-steps__item-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-steps__item-descr {
	margin-top: 5px;
	width: 95%;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.home-steps__picture {
	width: 41.5%;
	min-height: 200px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 9px 9px 0px -1px rgb(205 225 255);
}

.home-steps__picture-worries {
	padding: 20px 50px 30px 40px;
}

.home-steps__picture-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #7872b9;
}

.home-steps__picture-content {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 110px;
}

.home-steps__picture-block {
	height: 30px;
	margin-right: 3%;
	border: 1px solid #7872b9;
	border-radius: 30px;
}

.home-steps__picture-block_90px {
	width: 22.7%;
}

.home-steps__picture-block_200px {
	width: 50.5%;
}

.home-steps__picture-block_170px {
	width: 42.8%;
}

.home-steps__picture-block_210px {
	width: 52.9%;
}

.home-steps__picture-block_120px {
	width: 30.2%;
}

.home-steps__picture-block_150px {
	width: 37.8%;
}

.home-steps__picture-block_blue {
	background: #ebf5ff;
	border: none;
}

.home-steps__picture-specialist {
	display: flex;
	justify-content: space-between;
	padding: 27px 40px;
}

.home-steps__picture-profile {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-steps__picture-name {
	width: 120%;
	margin-top: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #7872b9;
	background-color: #ebf5ff;
	border-radius: 30px;
}

.home-steps__picture-block_blue-small {
	margin-top: 8px;
	width: 80%;
	height: 10px;
	margin-right: 0;
}

.home-steps__picture-session {
	padding: 30px 50px 24px 30px;
	display: flex;
	justify-content: space-between;
}

.home-steps__picture-info {
	width: 20%;
}

.home-steps__picture-info .home-steps__picture-img {
	width: 60px;
}

.home-steps__picture-block_top {
	width: 100%;
}

.home-steps__picture-block_bottom {
	width: 75%;
}

.home-steps__picture-name_session {
	width: 100%;
	text-align: left;
	background-color: #fff;
}

.home-steps__picture-schedule {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}

.home-steps__schedule-window {
	width: 30px;
	height: 30px;
	background-color: #ebf5ff;
	border-radius: 5px;
	margin: 3%;
}

.home-steps__schedule-window_red {
	background-color: #fa788c;
}

.home-steps__picture-test {
	padding: 30px 40px 30px 30px;
}

.home-steps__test-wrapper {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.home-steps__test-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 46.5%;
}

.home-steps__test-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-steps__test-item .home-steps__picture-block_blue-small {
	margin-top: 0;
}

.home-steps__test-point {
	width: 20px;
	height: 20px;
	border: 1px solid #9691d2;
	border-radius: 5px;
}

.home-steps__test-point_purple {
	background: #9691d2;
	border: none;
}

.home-steps__item-descr {
	z-index: 1;
}

.home-steps__item-descr_calendar {
	width: 78%;
	padding-right: 20%;
}

.home-steps__item-spot_small {
	left: 9%;
}

.home-questions {
	padding: 120px 0 114px 0;
}

.questions__wrapper {
	margin-top: 60px;
}

.questions__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
	margin-top: 30px;
	background-color: #ebf5ff;
	border-radius: 25px;
}

.questions__item:nth-child(1) {
	margin-top: 0;
}

.questions__text {
	width: 79.5%;
}

.questions__ask {
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.questions__sign {
	align-self: flex-start;
}

.questions__answer {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	height: 0;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.questions__answer_visible {
	opacity: 1;
	visibility: visible;
	margin-top: 15px;
	height: 100%;
	transition: opacity 0.5s ease-in;
}

.questions__plus {
	cursor: pointer;
}

.questions__minus {
	display: none;
	cursor: pointer;
}

/* ------------------------ About ------------------------ */

/*section № 1, about-together*/
.about-together {
	padding: 80px 0 100px 0;
	background: #f9fcff;
}

.about-together__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.about-together__title {
	align-self: center;
	font-weight: 800;
	font-size: 44px;
	line-height: 66px;
	letter-spacing: 0.02em;
	color: #7872b9;
}

.about-together__title-line {
	position: absolute;
	bottom: 28%;
	left: -2%;
}

/*section № 2, about-values*/
.about-values {
	padding: 89px 0 120px 0;
}

.about-values__wrapper {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	padding-top: 190px;
}

.about-values__item {
	position: relative;
	width: calc(100% / 3);
	height: 316px;
	text-align: center;
	background: #ebf5ff;
	border-radius: 20px;
}

.about-values__item:nth-child(2) {
	height: 339px;
}

.about-values__item-image {
	position: absolute;
	top: -32%;
	left: 25%;
}

.about-values__item-title {
	padding-top: 130px;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
	color: #4d4d52;
}

.about-values__item-text {
	padding: 15px 30px 35px 30px;
	font-size: 18px;
	line-height: 25.2px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

/*section № 3, about-experts*/
.about-experts {
	padding: 80px 0 80px 0;
	background: #f9fcff;
}

.about-experts__heading-wrapper {
	position: relative;
}

.about-experts__subtitle {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33.6px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.about-experts__title-line {
	position: absolute;
	left: 43%;
}

.about-experts__wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 94px;
}

.about-experts__item {
	text-align: center;
	color: #4d4d52;
	letter-spacing: 0.01em;
}

.about-experts__item-title {
	margin: 30px 0 10px 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 33.6px;
}

.about-experts__item-description {
	font-size: 18px;
	line-height: 25.2px;
}

/*section № 4, about-documents*/
.about-documents {
	padding: 100px 0 120px 0;
}

.about-documents__subtitle {
	width: 71%;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33.6px;
}

.about-documents__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	padding-top: 60px;
}

.about-documents__item {
	min-height: 190px;
	letter-spacing: 0.01em;
	color: #4d4d52;
	background: #ebf5ff;
	border-radius: 20px;
}

.about-documents__item_big {
	display: flex;
	align-items: center;
	width: 55%;
}

.about-documents__item_small {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 55px 0 100px;
	width: 42%;
}

.about-documents__item-image {
	padding: 20px 50px 20px 30px;
}

.about-documents__item-title {
	padding-top: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33.6px;
}

.about-documents__item-text {
	padding: 15px 59px 10px 0;
	font-size: 20px;
	line-height: 28px;
}

/*section № 5, about-history*/
.about-history {
	padding: 80px 0 101px 0;
	background: #f9fcff;
}

.about-history__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.about-history__text {
}

/* ------------------------ Rates ------------------------ */

.rates-choice {
	position: relative;
	background-color: #f9fcff;
	padding: 75px 0 81px 0;
}

.rates-choice__wrapper {
	display: flex;
	justify-content: space-between;
}

.rates-choice__content {
	width: 100%;
}

.rates-choice__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.02em;
	color: #7872b9;
}

.rates-choice__subtitle {
	margin-top: 20px;
	margin-bottom: 66px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.rates-price__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 70px;
}

.rates-price__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 23%;
	height: 384px;
	margin-top: 40px;
	border-radius: 15px;
	background-color: #f9fcff;
}

.rates-price__content:nth-child(1),
.rates-price__content:nth-child(2),
.rates-price__content:nth-child(3),
.rates-price__content:nth-child(4) {
	margin-top: 0;
}

.rates-price__row1 {
	height: 57px;
	width: 100%;
	border-radius: 15px 15px 0 0;
	padding-top: 20px;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.02em;
	background-color: #ebf5ff;
}

.rates-price__row2 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #7872b9;
}

#price {
	margin-top: 110px;
}

.rates-price__title {
	margin-bottom: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
}

.rates-price__subtitle {
	padding-top: 20px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.rates-price__btn {
	align-self: center;
	height: 70px;
	width: 80%;
	color: #ffffff;
	border-color: #7872b9;
	background: #7872b9;
	border-radius: 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.02em;
	cursor: pointer;
}

.rates-price__btn:hover {
	background-color: #4c4883;
	transition: 0.5s all;
}

.rates-price__row4 {
	align-self: center;
	height: 60px;
	width: 80%;
	margin-top: 20px;
	padding-top: 15px;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #4d4d52;
	background: #f1e6f7;
	border-radius: 8px;
}

.rates-price__row4:hover {
	cursor: pointer;
	background-color: rgba(241, 230, 247, 0.8);
}

.rates-price__none {
	height: 60px;
	width: 80%;
	margin-top: 20px;
	background: #f9fcff;
}

.rates-price__row5 {
	height: 30px;
	margin-top: 25px;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #7872b9;
}

.ratest-form {
	width: 100%;
	height: 370px;
	margin-top: 50px;
}

.ratest-promocode__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ratest-form__promocode {
	height: 60px;
	width: 380px;
	border: 2px solid #7872b9;
	border-radius: 15px;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: rgba(120, 114, 185, 0.6);
	margin-bottom: 35px;
}

/* ------------------------ Psychologists ------------------------ */

.psychologyst-practiceonline {
	background-color: #ffffff;
	height: 87vh;
}
.psychologyst-practiceonline-wrapper {
	display: flex;
	padding: 9% 0 0 0;
}
.psychologyst-practiceonline-content {
	width: 60%;
}
.psychologyst-practiceonline-content__title {
	margin: 0;
	padding: 0 10% 0 0;
	font-weight: 800;
	font-size: 2.5em;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #7872b9;
}
.psychologyst-practiceonline-content__text {
	padding: 4% 10% 7% 0;
	font-weight: 500;
	font-size: 1.5em;
	line-height: 140%;
	color: #4d4d52;
	letter-spacing: 0.01em;
}
.psychologyst-practiceonline-content__button {
	width: 400px;
	height: 70px;
	background: #7872b9;
	border-radius: 15px;
	border: none;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	box-shadow: 9px 13px 0px -1px rgb(205 225 255);
	cursor: pointer;
}

.psychologyst-practiceonline-content__button:hover {
	box-shadow: 6px 7px 0px -2px rgb(205 225 255);
	transition: 0.5s all;
}

.psychologyst-practiceonline-content__button:focus {
	background: #4c4883;
	box-shadow: none;
}
.psychologyst-practiceonline__img {
	width: 40%;
}
.psychologyst-practiceonline__imgitem {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.psychologyst-benefits {
	background-color: #f9fcff;
}
.psychologyst-benefits-wrapper {
	display: grid;
	padding: 8% 0 0 0;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.13fr 0.88fr 1fr 1.12fr 0.93fr 1fr;
}
#grid-area1_1 {
	grid-column: 1/3;
	grid-row: 2/3;
}
#grid-area1_2 {
	grid-column: 2/4;
	grid-row: 3/4;
}
#grid-area1_3 {
	grid-column: 1/3;
	grid-row: 4/5;
}
#grid-area1_4 {
	grid-column: 2/4;
	grid-row: 5/6;
}
#grid-area1_5 {
	grid-column: 1/3;
	grid-row: 6/7;
}
.psychologyst-benefits-title {
	grid-column: 1/4;
	grid-row: 1/2;
	margin: 0;
	font-weight: 800;
	font-size: 2.5em;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #7872b9;
	text-align: center;
}
.psychologyst-benefits-section {
	margin: 8% 0 16% 0;
	padding: 17% 8% 6.5% 8%;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 10px 15px 0px 0px #cde1ff;
	position: relative;
}
.psychologyst-benefits-section__icon {
	position: absolute;
	left: 4%;
	top: -18%;
}
.psychologyst-benefits-section__subtitle {
	margin: 0;
	padding: 0 0 1% 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-benefits-section__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-benefits-section__violettext {
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #7872b9;
}
.psychologyst-waitfromyou {
	background-color: #ffffff;
}
.psychologyst-waitfromyou-wrapper {
	padding: 5% 0 10% 0;
	display: grid;
	grid-template-columns: 1fr 0.8fr 0.8fr;
	grid-template-rows: 1.1fr 1fr 0.8fr 0.7fr;
	gap: 4%;
}
#grid-area2_1 {
	grid-column: 1/4;
	grid-row: 2/3;
}
#grid-area2_2 {
	grid-column: 1/2;
	grid-row: 3/4;
}
#grid-area2_3 {
	grid-column: 2/3;
	grid-row: 3/4;
}
#grid-area2_4 {
	grid-column: 3/4;
	grid-row: 3/4;
}
#grid-area2_5 {
	grid-column: 1/4;
	grid-row: 4/5;
}
.psychologyst-waitfromyou-title {
	margin: 0;
	grid-column: 1/4;
	grid-row: 1/2;
	align-self: center;
	font-weight: 800;
	font-size: 2.5em;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #7872b9;
	text-align: center;
}
.psychologyst-waitfromyou-sectionwithicon {
	display: grid;
	grid-template-columns: 0.2fr 0.8fr;
	grid-template-rows: 0.4fr 0.6fr;
	grid-template-areas:
		"psy-wait-icon psy-wait-subtitle"
		"psy-wait-icon psy-wait-text";
	padding: 2% 5% 2% 5%;
	background: #ebf5ff;
	border-radius: 20px;
}
.psychologyst-waitfromyou-sectionwithicon__icon {
	grid-area: psy-wait-icon;
}
.psychologyst-benefits-sectionwithicon__subtitle {
	grid-area: psy-wait-subtitle;
	align-self: end;
	margin: 0;
	padding: 0 0 1% 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-benefits-sectionwithicon__text {
	grid-area: psy-wait-text;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-waitfromyou-section {
	padding: 5% 15% 5% 15%;
	background: #ebf5ff;
	border-radius: 20px;
}
.psychologyst-benefits-section__subtitle {
	margin: 0;
	padding: 0 0 3% 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-benefits-section__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-4stepsforjob {
	background-color: #f9fcff;
}
.psychologyst-4stepsforjob-wrapper {
	display: grid;
	grid-template-columns: 0.7fr 0.3fr 0.3fr 0.7fr;
	grid-template-rows: repeat(5, 1fr) 0.7fr;
}
.psychologyst-4stepsforjob-title {
	margin: 0;
	grid-column: 1/5;
	grid-row: 1/2;
	align-self: center;
	font-weight: 800;
	font-size: 2.5em;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #7872b9;
	text-align: center;
}
#grid-area3_1 {
	grid-column: 1/3;
	grid-row: 2/3;
}
#grid-area3_2 {
	grid-column: 3/5;
	grid-row: 3/4;
}
#grid-area3_3 {
	grid-column: 1/3;
	grid-row: 4/5;
}
#grid-area3_4 {
	grid-column: 3/5;
	grid-row: 5/6;
}
.psychologyst-4stepsforjob-button {
	grid-column: 2/4;
	grid-row: 6/7;
	width: 400px;
	height: 70px;
	background: #7872b9;
	border-radius: 15px;
	border: none;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	box-shadow: 9px 13px 0px -1px rgb(205 225 255);
	cursor: pointer;
}

.psychologyst-4stepsforjob-button:hover {
	box-shadow: 6px 7px 0px -2px rgb(205 225 255);
	transition: 0.5s all;
}

.psychologyst-4stepsforjob-button:focus {
	background: #4c4883;
	box-shadow: none;
}
.psychologyst-4stepsforjob-section {
	margin-bottom: 22%;
	position: relative;
	align-self: center;
}
.psychologyst-4stepsforjob-section__iconnumber {
	position: absolute;
	z-index: 2;
}
.psychologyst-4stepsforjob-section__iconoval {
	position: absolute;
	top: -30%;
	left: 3%;
	z-index: 1;
}
.psychologyst-4stepsforjob-section__subtitle {
	position: relative;
	z-index: 3;
	margin: 0;
	padding: 0 0 1% 20%;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-4stepsforjob-section__text {
	position: relative;
	z-index: 3;
	padding: 0 0 0 20%;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #4d4d52;
}
.psychologyst-4stepsforjob-iconrightarrow1 {
	position: absolute;
	top: 60%;
	left: 130%;
}
.psychologyst-4stepsforjob-iconleftarrow {
	position: absolute;
	top: 100%;
	left: -50%;
}
.psychologyst-4stepsforjob-iconrightarrow2 {
	position: absolute;
	top: 60%;
	left: 125%;
}
/* ------------------------ Contacts ------------------------ */

/* ------------------------ Media queries ------------------------ */

@media screen and (max-width: 1200px) {
	.container {
		max-width: 90%;
	}

	/* ------------------------ Footer ------------------------ */

	.footer__connection {
		width: 20%;
		text-align: center;
	}

	.footer__policy {
		width: 25%;
	}

	.footer__policy-item {
		font-size: 1.3vw;
	}

	/* ------------------------ Home ------------------------ */

	.home-find__subtitle {
		width: 100%;
	}

	.home-find__img {
		width: 90%;
		height: 90%;
	}

	.home-comfort__item,
	.home-comfort__item:nth-child(2) {
		height: min-content;
	}

	.home-comfort__item:nth-child(2) .home-comfort__item-title {
		margin: 0 5%;
	}

	.home-problems__item {
		font-size: 1.6vw;
		padding: 11px 3%;
	}

	.home-quality__item-text_therapy {
		padding-top: 8px;
	}

	.home-quality__item-text_therapy,
	.home-quality__item-text_education {
		padding-left: 30px;
	}

	.home-steps__picture-session {
		padding: 2% 3% 2% 3%;
	}

	.home-steps__item-content {
		width: 50%;
	}

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}

@media screen and (max-width: 1024px) {
	/* ------------------------ Header ------------------------ */
	.header {
		padding-top: 50px;
	}

	/* ------------------------ Footer ------------------------ */

	.footer {
		padding: 50px 0;
	}

	/* ------------------------ Home ------------------------ */

	.home-find {
		padding: 60px 0;
	}

	.home-find__content {
		width: 61%;
	}

	.home-find__title {
		font-size: 4.5vw;
		line-height: 135%;
	}

	.home-find__subtitle {
		font-size: 3vw;
		line-height: 135%;
		margin-bottom: 10%;
	}

	.home-comfort {
		padding: 60px 0;
	}

	.home-comfort__wrapper {
		margin-top: 120px;
	}

	.home-comfort__item {
		padding: 90px 3% 3% 3%;
	}

	.home-comfort__item-img {
		width: 150px;
		top: -100px;
	}

	.home-comfort__item-title {
		font-size: 2.2vw;
		line-height: 120%;
	}

	.home-comfort__item-descr,
	.home-comfort__item:nth-child(2) .home-comfort__item-descr {
		margin: 6% 0 0 0;
		font-size: 1.5vw;
		line-height: 150%;
	}

	.home-comfort__item:nth-child(3) .home-comfort__item-descr {
		margin: 6% 3% 0 3%;
	}

	.home-problems {
		padding: 40px 0 50px 0;
	}

	.home-problems__wrapper {
		margin-top: 100px;
	}

	.home-quality {
		padding: 60px 0;
	}

	.home-quality__wrapper {
		margin-top: 40px;
	}

	.home-quality__item-img {
		width: 100%;
	}

	.home-quality__item-title {
		font-size: 2.3vw;
	}

	.home-quality__item-descr {
		margin-top: 2%;
		font-size: 1.8vw;
		line-height: 150%;
	}

	.home-quality__item-text_education,
	.home-quality__item-text_therapy {
		padding-top: 0;
		width: 100%;
	}

	.home-steps {
		padding: 60px 0;
	}

	.home-questions {
		padding: 60px 0;
	}

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}

@media screen and (max-width: 960px) {
	/* ------------------------ Header ------------------------ */

	.header__nav {
		width: 60%;
	}

	/* ------------------------ Footer ------------------------ */

	.footer__wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer__contacts {
		width: 20%;
	}

	.footer__socials {
		margin-top: 25px;
	}

	.footer__connection {
		width: 30%;
		height: 125px;
	}

	.footer__nav {
		width: 30%;
	}

	.footer__policy {
		width: 100%;
		margin-top: 40px;
		align-items: center;
		height: 70px;
	}

	.footer__policy-item {
		font-size: 1.7vw;
	}

	/* ------------------------ Home ------------------------ */

	.home-problems__descr {
		width: 55%;
		font-size: 2.3vw;
	}

	.home-problems__wrapper {
		height: 91px;
	}

	.home-problems__item {
		height: 40px;
		padding: 5px 3%;
	}

	.home-quality__title {
		width: 100%;
	}

	.home-quality__descr {
		width: 80%;
	}

	.home-quality__work-experience,
	.home-quality__learning {
		padding: 20px 30px 30px 40px;
	}

	.home-steps__wrapper {
		margin-top: 70px;
	}

	.home-steps__item {
		margin: 0 auto;
		width: 80%;
		margin-top: 100px;
	}

	.home-steps__item:nth-last-child(1) {
		flex-direction: column;
		width: 60%;
	}

	.home-steps__item-content {
		width: 100%;
	}

	.home-steps__picture {
		display: none;
	}

	.home-steps__item-content {
		margin-bottom: 30px;
	}

	.home-steps__item-descr_calendar {
		padding-right: 0;
	}

	.questions__item {
		padding: 30px 70px;
	}

	.questions__answer_visible {
		font-size: 2vw;
		line-height: 150%;
	}

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}

@media screen and (max-width: 768px) {
	/* ------------------------ Header ------------------------ */

	/* ------------------------ Footer ------------------------ */

	/* ------------------------ Home ------------------------ */

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}

@media screen and (max-width: 480px) {
	/* ------------------------ Header ------------------------ */

	/* ------------------------ Footer ------------------------ */

	/* ------------------------ Home ------------------------ */

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}

@media screen and (max-width: 320px) {
	/* ------------------------ Header ------------------------ */

	/* ------------------------ Footer ------------------------ */

	/* ------------------------ Home ------------------------ */

	/* ------------------------ About ------------------------ */

	/* ------------------------ Rates ------------------------ */

	/* ------------------------ Psychologists ------------------------ */

	/* ------------------------ Contacts ------------------------ */
}
